<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldoborrero.tinderjs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.TinderJsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TinderJs">

        <activity
            android:name=".ui.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TinderJs.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.app.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.TinderJs.SettingsActivity" />

    </application>

</manifest>
